# Configuration of Hugo
# Hugo Documentation: https://gohugo.io/getting-started/configuration/#all-configuration-settings

title: Nora Gera (PhD Student)
baseURL: ''

############################
## LANGUAGE
############################

defaultContentLanguage: en
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## ADVANCED
############################

enableGitInfo: false
summaryLength: 30
pagination:
  pagerSize: 10
enableEmoji: true
enableRobotsTXT: true
publishDir: docs
footnotereturnlinkcontents: <sup>^</sup>
ignoreFiles: [\.ipynb$, .ipynb_checkpoints$, \.Rmd$, \.Rmarkdown$, _cache$]
ignoreErrors: ["error-missing-instance", "error-remote-getjson"]
disableAliases: true
outputs:
  home: [HTML, RSS, JSON]
  section: [HTML, RSS]
imaging:
  resampleFilter: lanczos
  quality: 75
  anchor: smart
timeout: 600000
markup:
  goldmark:
    renderer:
      unsafe: true
minify:
  _merge: deep
